.panel-wrapper{
    /* width: 100vw; */
    width: calc(100vw - 256px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 400px;
    box-sizing: border-box;
    transition: 0.2s;
}
.conversations{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 600px;
}
h1,h3{
    margin: 0;
    text-align: center;
    color: #fcfcfc;
}
.intro-text > h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}
.intro-text > h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.4px;
}
.conversations{
    max-width: 800px;
    padding-bottom: 120px;
}
.full-view{
    width: 100vw;
    transition: 0.2s;
}
@media screen and (max-width:600px) {
    .panel-wrapper{
        width: inherit;
        padding: 16px;
        justify-content: start;
    }
    .intro-text{
        width: inherit;
    }
    .intro-text > h1{
        /* font-size: 28px; */
    }
    .intro-text > h3{
        font-size: 12px;
    }
}