.searchbar-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    margin-top: 48px;
    bottom: 16px;
    width: 800px;
}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.input-div textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    background-color: white;
    color: #555;
    border-radius: 48px;
    font-size: 14px;
    font-family: 'montserrat';
    outline: none;
    resize: none;
    overflow: hidden;
    backdrop-filter: blur(4px);
}

@media screen and (max-width: 600px) {
  .input-div textarea {
    height: 80px;
  }
}