.main-wrapper{
    padding: 16px;
    display: flex;
    gap: 2vw;
    justify-content: end;
    min-height: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .main-wrapper {
    flex-direction: column-reverse;
    box-sizing: border-box;
  }
}