body{
  margin: 0;
  padding: 0;
  background: url('./assets/grey-bg-epicure-ai.webp');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  background-attachment: fixed;
  letter-spacing: 0.4px;
}
/* #root{
  min-height: 100vh;
} */
html, body, #root {
  height: 100%;
  margin: 0;
}
h1,h2,h3{
  margin: 0;
}
button{
  padding: 12px 20px;
  outline: none;
  background-color: black;
  border: 1px solid black;
  color: #fcfcfc;
  border-radius: 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.4px;
  cursor: pointer;
} 
/* Scrollbar width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}